<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>20001545 - Duong Tuan Kiet</h1>
<a href="candidate">List Candidate</a> <hr>
<a href="candidate/report1">Find Developer in Company</a> <hr>
<a href="candidate/report2">Find Candidate At Least 5 Experience</a> <hr>
</body>
</html>